@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

body{
    width: 100%;
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
}
.container{
    width: 1243px;
    margin: 0 auto;
    background-color: white;
    box-sizing: border-box;
    padding: 0px 10px;
}
a{
    text-decoration: none;
    list-style: none;
}
h1{
    font-size: 80px;
    padding: 63px 0px 38px 0px;
}
h1>a{
    color: #000;
}
span{
    color: #4BCAFF;
}
.nav_bar {
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
}
li {
    background-color: #35444F;
    padding: 26px 53px 19px 33px;
    list-style: none;
    margin: 0 auto;
}
li>a {
    font-size: 24px;
    color: #FFFFFF;
}
.nav_bar li:hover{
    background-color: #222F3A;
}
.content{
    display: flex;
    justify-content: space-between;
}
.nav_menu{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    height: 399px;
    width: 344px;
    border: 1px solid #000;
    margin: 48px 0;
}
.nav_menu>a{
    font-size: 25px;
    font-weight: 400;
    color: #000;
    padding: 26px 33px 19px 33px;
    list-style: none;
    margin: 1 auto;
}
.img_content{
    border: 1px solid #000;
}
.text_content{
    margin: 48px 0px 37px 52px;
}
img{
    width: 320px;
    height: 381px;
    padding: 75px 268px 73px 297px;
}
img:hover{
    transform: scale(1.20);
    transition: transform 1.5s;
}
.nav_menu>a:hover{
    background-color: #DBDBDB;
    padding-left: 58px;
    color: #35444F;
    transition: background-color 700ms;
}
.text{
    width: 885px;
}
p{
    margin: 37px 0;
}
.nav_footer{
    display: flex;
    justify-content: space-between;
    padding: 26px 33px 19px 33px;
    list-style: none;
    background-color: #63696e6e;
}
.footer_menu>a{
    font-size: 28px;
    color: #0C1927;
    padding: 10px;
}
.nav_footer>p{
    font-size: 24px;
    margin: 0;
}
.nav_footer>a{
    font-size: 24px;
    color: #0C1927;
}
.footer_menu>a:hover{
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
    padding-bottom: 6px;
}
